In [22]:
# Import packgae numpy
import numpy as np
# Import packgae pandas
import pandas as pd
 
# Buat data frame dengan membaca dataset
df = pd.read_csv("../Dataset/students.csv")

# Function Systematic Sampling
def systematic_sampling(df, step):
    indexes = np.arange(0, len(df), step = step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample

# Dapatkan sampel sistematis dan simpan dalam variabel systematic_sample
systematic_sample = systematic_sampling(df, 100)
 
# Tampilkan data frame
display(systematic_sample)
 
# Hitung rata rata math score dari data sample
systematic_data = round(systematic_sample['math score'].mean())

# Tampilkan hasil perhitungan rata rata
print("Average Math Score :", systematic_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
100,male,group B,some college,standard,none,79,67,67
200,female,group C,associate's degree,standard,completed,67,84,86
300,male,group A,some college,free/reduced,completed,81,78,81
400,female,group C,some high school,standard,completed,59,54,67
500,female,group D,master's degree,standard,none,74,79,82
600,female,group D,master's degree,standard,none,54,60,63
700,female,group E,bachelor's degree,standard,completed,79,81,82
800,male,group C,some high school,standard,completed,67,73,68
900,male,group D,master's degree,standard,none,85,84,89

Average Math Score : 72